* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(233, 47%, 7%);
}
h1,
h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
p {
  font-family: "Inter", "sans-serif";
  font-weight: 400;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.textarea {
  width: 40vw;
  height: 50vh;
  padding: 0 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px 0px 0 10px;
}
.first-text {
  margin: 10px;
  padding: 10px;
}
.first-text p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
}
.first-text h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}
span {
  color: hsl(277, 64%, 61%);
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
  margin: 10px;
  padding: 10px;
}
.stats h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}
.stats p {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.image-area {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-area img {
  border-radius: 0px 10px 10px 0px;
  width: 40vw;
  height: 50vh;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
    width: 100vw;
  }

  .textarea,
  .image-area {
    width: 80vw;
    height: auto;
    border-radius: 0;
  }

  .textarea {
    padding: 30px 20px;
    text-align: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10%;
  }

  .first-text {
    margin: 0;
    padding: 0;
  }

  .first-text h1 {
    font-size: 1.5rem;
  }

  .first-text p {
    font-size: 0.9rem;
  }

  .stats {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .image-area img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    margin-top: 10%;
  }
}
